#tarjeta {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: #b6a3d7;
}
#tarjeta h2 {
  text-align: center;
  background-color: #6e6987;
  color: aliceblue;
}
#titulo {
  background-color: #4d5678;
  display: block;
}
#titulo img {
  margin-left: 20px;
  padding: 10px 0px 10px 0px;
  width: 250px;
  border-radius: 5px;
}
#contenido {
  background-color: #837b8e;
}
#contenido p {
  text-align: center;
  padding: 5px 0;
  margin: 10px 10px;
  color: aliceblue;
}
